.manage-events-container {
  margin-top: 100px;
  max-width: 1000px;
  margin: 80px auto;
  padding: 20px;
}

.create-btn {
  margin-top: 20px    ;
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.events-list {
  display: grid;
  gap: 20px;
}

.event-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  display: flex;
  overflow: hidden;
}

.event-card img {
  width: 180px;
  object-fit: cover;
}

.event-info {
  padding: 16px;
  flex: 1;
}

.event-actions button {
  margin-right: 10px;
  background: #005fa3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.event-actions button:last-child {
  background: #c0392b;
}